html, body{
    margin: 0;
    padding: 0;
    color: #cccfd7;
}
/* background images from pexels.com */
body{ 
    background: url("https://images.pexels.com/photos/6294402/pexels-photo-6294402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed; 
    background-size: cover;
  }
.bg-dough{
    background-color: #cac4c1;
}
.text-almost-black{
    color: #2f3133;
}
.bg-almost-black{
    background-color: #2f3133;
}
.mx-10p{
    margin: 0 10%;
}
.text-light-grey{
    color: #cccfd7;
}
.w-35p{
    width: 35%;
}
.w-100{
    width: 100%;
}
.bg-grey-transparent{
    background-color: rgba(204, 207, 215, 0.3);
}
.mt-15p{
    margin-top: 15%;
}